/Backend/.env
/Backend/node_modules
/Frontend/node_modules
Frontend\node_modules
Backend\node_modules
Backend\gpa-agent-uedj-6dda7288990e.json
/Backend/gpa-agent-uedj-6dda7288990e.json
Backend/gpa-agent-uedj-6dda7288990e.json