<!DOCTYPE html>
<html>
<head>
    <title>Chatbot Template</title>
 
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="logo.png" alt="Logo">
            </div>
            <div class="robot">
                <img src="robot.png" alt="Robot">
            </div>
        </nav>
    </header>
    <div class="yellow-circle"></div>
    <div class="content">
        <h1>Chatbot</h1>
        <p>Illustration online assistant bot landing page template.</p>
        <div class="dialog-message">
            <p>Technical support for web page</p>
        </div>
    </div>
</body>
</html>
