<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>

<div class="chat-container">
  <div class="chat-messages">
    <div *ngFor="let message of messages" class="message">
     
      <div *ngIf="message.sender === 'user'" class="perso">
        <div class="avatar user-avatar">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-avatar-370-456322.png?f=webp" alt="User Avatar" class="avatar-image">
        </div>
      <div  class="user-message">
       
        <div class="message-content">{{ message.text }}</div>
      </div>
    </div>
      <div *ngIf="message.sender === 'assistant'" class="perso1">
        <div class="assistant-message" >
        <div class="message-content">{{ message.text }}</div>
       </div>
        <div class="avatar assistant-avatar">
          <img src="https://cdn-icons-png.flaticon.com/512/4712/4712035.png" alt="Assistant Avatar" class="avatar-image">
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input type="text" [(ngModel)]="userInput" placeholder="Type your message" class="input-field">
    <button (click)="sendMessage()" class="send-button">Send</button>
    <audio controls *ngIf="audioUrl">
      <source [src]="audioUrl" type="audio/wav">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
