<app-navland></app-navland>
<div class="home-container">
  <div class="home-body">
    <div class="left-half">
      <img
        src="https://media3.giphy.com/media/igsOV5mZb9nju6ruJo/giphy.gif?cid=ecf05e47go8l6esl620mlzzrdg2d54byswe3n4m7v7i3f6ct&ep=v1_gifs_related&rid=giphy.gif&ct=s"
        alt="Robot Image">
      <div class="text-container">
        <!-- Text content goes here -->
        <h2>Welcome to our ChatRoom!</h2>
        <p>This is Bumble Bee, Esprit new Virtual asset ready to assist you.</p>
        <p>This is an AI-powered Application built to guide you through your journey to know more about the ESPRIT
          university.</p>
      </div>
    </div>
    <div class="right-half">
      <h2 class="letstalk">Let's Talk</h2>
      <div class="chat-container">
        <app-chat></app-chat>
      </div>
    </div>
  </div>
</div>
<app-footland></app-footland>