<div class="dashboard">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="header">
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
    <div class="content">
      <h1> List of Interviews</h1>
      <table class="dashboard-table">
        <thead>
          <tr>
            <th>Candidate Name</th>
            <th>Submitted</th>
            <th>Date de creation</th>
            <th>Action</th> <!-- Add a new table header for the action column -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interview of interviews">
            <td>{{ interview.candidatName }}</td>
            <td>{{ interview.submitted }}</td>
            <td>{{ interview.DateSubmission | date }}</td>
            <td>
              <!-- Add the modify button icon -->
              <button class="modify-button" >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  